.options {
    border: 2px solid red;
    border-radius: 15px;
    width: 60%;
    margin: 10px auto;
    background-color: #1e2555;
    padding: 3%;
    /* position: relative; */
}

.btn-opt {
    width: 18rem;
    color: white;
    border-radius: 15px;
    background-color: #481449;
    padding: 1rem;
}

.btn-opt:hover {
    background-color: #4814497b;
}

.grid-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
}

.icon {
    font-size: large;
    color: lightgoldenrodyellow;
    margin-top: 2rem;
    /* position: absolute; */
    margin-left: 90%;
}