.options {
    border: 2px solid red;
    border-radius: 15px;
    width: 60%;
    margin: 10px auto;
    background-color: #1e2555;
    padding: 3%;
    position: relative;
}

.grid-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
}

.icon {
    font-size: large;
    color: lightgoldenrodyellow;
    position: absolute;
    left: 60%;
}


@media screen and (min-width:991px) and (max-width:1199px) {}

@media screen and (min-width:768px) and (max-width:991px) {
    .grid-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 1rem;
    }
}


@media screen and (max-width:767px) {
    .grid-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 1rem;
    }
}