.quiz-ui img {
    width: 18rem;
    background-color: cadetblue;
    border-radius: 10px;
}

.quiz-ui {
    border: 1px solid slategray;
    border-radius: 10px;
    margin: 10px;
    width: 18rem;
}

.btn-quiz {
    width: 100%;
}