.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.header h2 {
    margin-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: purple;
}

.header-name {
    color: purple;
    font-weight: 500;
}


@media screen and (min-width:991px) and (max-width:1199px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: skyblue;
        padding: 8px;
    }
}



@media screen and (max-width:767px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .routes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}