.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.header h2 {
    margin-left: 20px;
}