.qAndA {
    /* border: 1px solid gold; */
    border-radius: 15px;
    background-color: #116466;
    color: whitesmoke;
    margin: 15px auto;
    padding: 10px;
    width: 60%;
    text-align: start;
}